PORT=7879
NODE_ENV=development

RABBITMQ_URL=amqp://rabbitmq:password@rabbitmq:5672/default_vhost
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=default_vhost

UJUMBESMS_API_KEY=
UJUMBESMS_ACCOUNT_EMAIL=
UJUMBESMS_API_URL=https://ujumbesms.co.ke

# MOBITECH_API_URL=
# MOBITECH_API_KEY=
